.product-detail {
   height:500px ;
   margin: 70px auto;
}
.product-detail .left-box{
     width: 340px;
     height: 470px;
     background-color: #fcfcfc;
}
.product-detail .right-box{
    width: 800px;
    height: 500px;
    background-color: rgba(230, 207, 207, 0.932);
}
.magnifier-container{
    height: 380px !important;
}
