.ez{
    height: 546px; 
    margin: 50px auto;
 }
 .ez .ez-title{
     height: 40px;
     line-height:40px;
     border-bottom: 6px solid #ff6700;
     background-color: #fff;
     color: #ff6700;
     font-size: 24px;
     text-indent: 20px;
 }
 .ez .ez-title h1{
     font-weight: 200px;
 }
 .ez .ez-title ul li{
    float: left;
    width: 100px;
    font-size: 14px;
    color: #333;
 }
 .ez .ez-title ul li.active{
   background-color: #ff6700;
   color: white;
 }
 .ez .ez-content{
     width: 1200px;
     height: 500px;
 }
 .ez-list{
     width: 1200px;
     height: 440px;
 }
 .ez-list ul .content {
     width: 200px;
     height: 220px;
     float: left;
     box-sizing:border-box ;
     text-align: center;
 }
 .ez-list ul li>img{
    width: 80% !important;
    height: 70%  !important;
 }
 .ez-list ul li>p{
     text-align: left;
     text-indent: 10px;
     font-size: 13px;
 }
 .ez-list ul li >p.price{
     color: red;
 }
 .guess-you-like{
     width: 1200px;
     height: 456px;
 }